* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Neucha", cursive;
}

navbar {
  width: 100%;
  position: absolute;
  z-index: 30;
  background: rgb(211,211,211);
  background: linear-gradient(180deg, rgba(211,211,211,1) 0%, rgba(0,212,255,0) 100%);
}

.wrapper {
  display: flex;
  gap: 20%;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  max-width: 1200px;
}

.logo img{
  width: 150px;
}

navbar .navul {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 300;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

navbar .navul .navli:hover {
  transform: scale(1.1);
}

navbar .navul .navli a {
  text-decoration: none;
  color: #000;
  font-family: 'Roboto', sans-serif;

}

navbar .navul .navli a:hover {
  text-decoration: underline solid rgb(255, 255, 255) 2px;
}

.navhero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title_hero {
  width: 50%;
  z-index: 30;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 25%;
  padding: 30px;
  background: rgba(209, 209, 209, 0.3);
}

.title_hero h1 {
  margin-left: 50px;
  font-size: 4rem;
  font-family: "Neucha", cursive;
  line-height: 100px;
  text-align: center;
}

#slider-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 300%;
}

#slider img {
  width: 33.33%; /* Ancho de cada imagen */
  height: 100vh;
  object-fit: cover;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 50%;
  right: 0;
  left:0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.slider-buttons button {
  background-color: #d1d1d1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.slider-buttons button:focus {
  outline: none;
}


.container_circles {
  display: flex;
  justify-content: space-between;
  width: 10%;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: calc(100% / 2 - 10%);
}

.circle1,
.circle2,
.circle3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d1d1d1;
  z-index: 30;
}

section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background: rgb(231, 223, 205);
  gap: 50px;
}
section h2 {
  font-size: 3rem;
  text-align: center;
}
