* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

navbar {
  width: 100%;
  position: fixed;
  z-index: 30;
  background: rgb(211,211,211);
  background: linear-gradient(180deg, rgba(211,211,211,1) 0%, rgba(0,212,255,0) 100%);
}

.wrapper {
  display: flex;
  gap: 20%;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  max-width: 1200px;
}

.logo{
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Define el punto de partida de la rotación */
  }
  to {
    transform: rotate(360deg); /* Define el punto final de la rotación */
  }
}

.logo img{
  width: 150px;
}

.logo img{
  width: 150px;
}

navbar .navul {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 300;
  font-size: 25px;
}

navbar .navul .navli:hover {
  transform: scale(1.1);
}

navbar .navul .navli a {
  text-decoration: none;
  color: #000;
}

navbar .navul .navli a:hover {
  text-decoration: underline solid rgb(255, 255, 255) 2px;
}

.navhero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title_hero {
  width: 50%;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 25%;
  padding: 30px;
  background: rgba(209, 209, 209, 0.3);
}

.title_hero h1 {
  margin-left: 50px;
  font-size: 4rem;
  line-height: 100px;
  text-align: center;
}

.title_hero span {
  font-size: 20px;
}

#slider-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

#slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 300%;
}

#slider img {
  width: 33.33%; /* Ancho de cada imagen */
  height: 100vh;
  object-fit: cover;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 50%;
  right: 0;
  left:0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.slider-buttons button {
  background-color: #d1d1d1;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.slider-buttons button:focus {
  outline: none;
}

.container_circles {
  display: flex;
  justify-content: space-between;
  width: 10%;
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: calc(100% / 2 - 5%);
}

.circle1,
.circle2,
.circle3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d1d1d1;
  z-index: 30;
}

section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  background: rgb(231, 223, 205);
  gap: 50px;
}
section h2 {
  font-size: 40px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,400px);
  margin: 0px auto 70px auto;

  gap: 30px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  width: 300px;
  gap: 10px;
}
.card img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card button{
  width: 100px;
  font-size: 20px;
  padding:  0 10px;
}

.footer {
  background-color: #444444;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.footer__title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

.footer__rrss--container {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.footer__rrss {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}


.footer__rrss span{
  margin-right:10px;
}
